<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso VueJS - Aula 5</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <button v-if="!clicked" v-on:click="userClicked">Salvar</button>
    <button v-if="clicked" v-on:click="userClicked">Aguarde</button>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello, world!',
        clicked: false
      },
      methods: {
        userClicked: function () {
          this.clicked = !this.clicked;
        }
      }
    });
  </script>
</body>
</html>